<html>
 <head>
    <title>Simple html</title>
 </head>
 <body>
     <h1>Hello from <%= node["fqdn"] %>!</h1>
     <p>
         This server has <%= node["memory"]["total"].to_i / 1024 %> MB memory.
     </p>
 </body>
</html>